
@{
    ViewBag.Title = "Hakkımızda";
}

<div class="container">
    <div class="row">
        <h3 class="mt-5" style="margin-left:20px; margin-bottom:20px;">
            Bu e-ticaret sitesi bitirme projesi olarak teslim edilmek üzere hazırlanmıştır.
        </h3>



        <button type="button" class="btn btn-primary class="mt-2" style="margin-left:20px; margin-bottom:20px;"">
            Hazırlayan Kişi <span class="badge badge-light">

                <a href="http://www.yasincoban.com">
                    Yasin Çoban
                </a>
            </span>
        </button>




    </div>
</div>

